<div id="navbar" class="fixed-top">
  <ul class="navbar-items main-container">
    <li class="navbar-item"><%= link_to "A propos", root_path(anchor: "about") %></li>
    <li class="navbar-item"><%= link_to "Compétences", root_path(anchor: "skills") %></li>
    <li class="navbar-item"><%= link_to "Portfolio", root_path(anchor: "projects") %></li>
    <li class="navbar-item"><%= link_to "Contact", root_path(anchor: "contact") %></li>
    <li class="navbar-item navbar-language"><%= link_to_unless I18n.locale == :fr, "FR", locale: :fr %> | <%= link_to_unless I18n.locale == :en, "EN", locale: :en %></li>
  </ul>
</div>
