<div id="projects">
  <div class="main-container">
    <h2>Projets récents</h2>
    <div class="cards-project">
      <% @projects.each do |project| %>
        <div class="card-project">
          <div class="card-picture">
            <%= link_to project.site_url, target: "_blank", rel: "nofollow noopener" do %>
              <%= image_tag(project.image) %>
            <% end %>
          </div>
          <div class="project-description">
            <div class="project-description-text">
              <h3 class="text-center mt-2"><%= project.name %></h3>
              <p><%= project.description %></p>
            </div>
            <%= link_to "Repo Github", project.github_url, target: "_blank", class: "btn-github", rel: "noreferrer noopener" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
